function MAIN_A 1

push constant 1
pop static 0

push argument 0
push argument 1
push argument 3
push argument 4
push argument 5
call MATMUL 5
pop local 0

push local 0
push argument 2
push argument 3
push argument 5
call ADD_BIAS 4
return



function MATMUL 4

push argument 2
push argument 4
call MULT 2
call ALLOCATE 1
pop local 3

push constant 0
pop local 0

label LOOP_I
push local 0
push argument 2
lt
not
if-goto END_M

push constant 0
pop local 1

label LOOP_J
push local 1
push argument 4
lt
not
if-goto NEXT_I

push constant 0
pop local 2

push constant 0
pop temp 0

label LOOP_K
push local 2
push argument 3
lt
not
if-goto END_K

push temp 0

push argument 0
push local 0
push local 2
push argument 3
call GET_ELEMENT 4

push argument 1
push local 2
push local 1
push argument 4
call GET_ELEMENT 4

call MULT 2
add
pop temp 0

push local 2
push constant 1
add
pop local 2
goto LOOP_K

label END_K

push temp 0
push local 3
push local 0
push local 1
push argument 4
call SET_ELEMENT 5

push local 1
push constant 1
add
pop local 1
goto LOOP_J

label NEXT_I
push local 0
push constant 1
add
pop local 0
goto LOOP_I

label END_M
push local 3
return



function ADD_BIAS 3

push argument 2
push argument 3
call MULT 2
call ALLOCATE 1
pop local 0

push constant 0
pop local 1

label LOOP_I
push local 1
push argument 2
lt
not
if-goto END_B

push constant 0
pop local 2

label LOOP_J
push local 2
push argument 3
lt
not
if-goto NEXT_B

push argument 0
push local 1
push local 2
push argument 3
call GET_ELEMENT 4

push argument 1
push local 1
push local 2
push argument 3
call GET_ELEMENT 4

add

push local 0
push local 1
push local 2
push argument 3
call SET_ELEMENT 5

push local 2
push constant 1
add
pop local 2
goto LOOP_J

label NEXT_B
push local 1
push constant 1
add
pop local 1
goto LOOP_I

label END_B
push local 0
return